@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui;
    background-color: rgba(56, 146, 250, 0.521);
    height: 98vh;
    width: 100vw;
}

header {
    margin: auto;
    width: 600px;
    padding: 40px;

    text-align: center;
    font-size: 3rem;
    font-weight: bold;

    color: white;
}

/* --------------FORMULÁRIO-------------- */

section {
    margin: auto;
    height: 450px;
    width: 600px;

    font-size: 1rem;


    background-color: rgba(240, 248, 255, 0.945);
    box-shadow: 1px 1px 8px 1px;
    border-radius: 20px;
}
section form {
    padding: 35px 0px 0px 40px;
    font-size: 1.2rem;

}
 

/* --------------RESULTADO-------------- */
#iresultado { 
    /* background-color: aquamarine; */
    font-size: larger;
    text-align: center;
    margin-top: 14px;
}

#idivimagem {
    height: 250px;
    width: 250px;
    margin: auto;

}

#idivimagem > img { 
    margin-top: 20px;    
    border-radius: 50%;
    box-shadow: black 1px 1px 10px;

}
footer {
    padding: 24px;
    text-align: center;
    color: white;
}
