@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui;
    background-color: rgba(56, 146, 250, 0.521);
    height: 98vh;
    width: 100vw;
}

header {
    margin: auto;
    width: 600px;
    padding: 40px;

    text-align: center;
    font-size: 3rem;
    font-weight: bold;

    color: white;
}

/* --------------FORMULÃRIO-------------- */

#form {
    margin: auto;
    height: 450px;
    width: 600px;
    padding: 35px;

    background-color: rgba(240, 248, 255, 0.945);
    box-shadow: 1px 1px 8px 1px;
    border-radius: 20px;
    font-size: 1rem;
}


/* --------------RESULTADO-------------- */
#iresultado { 
    /* background-color: aquamarine; */
    font-size: larger;
    text-align: center;
    margin-top: 14px;
}

#idivimagem {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    
    background-size: cover;
    background-position: center center;

}

#idivimagem > img { 
    margin-top: 20px;    
    border-radius: 50%;
    box-shadow: black 1px 1px 10px;

}
footer {
    padding: 24px;
    text-align: center;
    color: white;
}
